/* CSS */
.bd-navbar{
    z-index: 1;
    height: 5rem;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}
.btn_stb{
    position: relative;
    top: 0;
    transition: top .4s;
}
.btn_stb:hover{
    top: -10px;
    text-decoration: none;
}
.stb_color{
    color: #034d7e;
}
.fa-smile-wink, .fa-angle-up, .fa-angle-down, .fa-arrow-alt-circle-right{
    font-size: 30px;
    vertical-align: middle;
}
.logo{
    right: 1rem;
    top: 0;
    position: absolute;
}
.logo img{
    height: 5rem;
}
.bar{
    left: 0;
    top: 5rem;
    width: 100%;
    height: 3rem;
    position: absolute;
    background-color: #034d7e;
}
.menu-bar{
    left: 0;
    top: 8rem;
    width: 100%;
    height: 3rem;
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu-bar a .active , .menu-item:hover{
    top: 0rem;
    height: 5rem;
    line-height: 5rem;
}
.menu-item {
    top: -1rem;
    width: 17%;
    padding: 0;
    margin-left: -0.35%;
    text-align: center;
    line-height: 3rem;
    position: relative;
    height: 3rem;
    color: #fff;
}
.menu-item-1{
    background-color: rgb(44,154,189);
}
.menu-item-2{
    background-color: rgb(99,191,204);
}
.menu-item-3{
    background-color: rgb(38,165,136);
}
.menu-item-4{
    background-color: rgb(108,172,85);
}
.menu-item-5{
    background-color: rgb(155,193,80);
}
.menu-item-home{
    width: 8rem;
    right: 0;
    position: absolute;
    text-align: center;
    line-height: 3rem;
    background-color: red;
    height: 3rem;
    color: #fff;
}
.menu-item-home:hover {
    height: 5rem;
    line-height: 5rem;
}
.card-text{
    margin-top: -10px;
    font-size: 20px !important;
}
.box{
    width: 16rem;
    height: 16rem;
    margin: 1rem !important;
    color: white;
}
.box-img{
    width: 11rem;
    height: 11rem;
    margin: 1rem 2.5rem 0rem 2.5rem;
}

.box-1{
    background-color: rgba(44,154,189, 0.9);
    border-bottom: 1rem solid rgba(7,102,134, 0.9);
}
.box-2{
    background-color: rgba(99,191,204, 0.9);
    border-bottom: 1rem solid rgba(53,139,152, 0.9);
}
.box-3{
    background-color: rgba(38,165,136, 0.9);
    border-bottom: 1rem solid rgba(0,113,87, 0.9);
}
.box-4{
    background-color: rgba(108,172,85, 0.9);
    border-bottom: 1rem solid rgba(66,118,43, 0.9);
}
.box-5{
    background-color: rgba(155,193,80,0.9);
    border-bottom: 1rem solid rgba(104,139,37,0.9);
}

.index-content{
    position: absolute;
    bottom: .5rem;
}
.content-body{
    top: 8rem;
    position: relative;
}
.search-box{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.card-title span{
    font-size: 28px;
}
.detail-link{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.detail-link:hover{
    text-decoration: none;
}

.map{
    margin-top: .5rem;
    padding: 0;
    width: 100%;
    height: 60vh;
    border: 1px solid black;
}

.chat-btn{
    position: fixed;
    right: 2rem;
    bottom: .25rem;
    width: 25rem;
    height: 3rem;
    background-color: #034d7e;
    border-radius: 10px;
    z-index: 1;
    transition-timing-function: linear;
    transition: .8s;
    border:none;
    padding: 0;
	font: inherit;
    cursor: pointer;
    outline: inherit;
}
.chat-btn-active{
    bottom: 26rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
}
.chat-welcome {
    text-align: center;
}
.chat-welcome span {
    color: #fff;
    line-height: 3rem;
}
.chat-welcome i {
    color: #fff;
    padding: 0 .5rem;
    line-height: 3rem;
}
.chat-box{
    position: fixed;
    bottom: .25rem;
    right: 2rem;
    width: 25rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 10px;
    transition-timing-function: linear;
    transition: .8s;
}
.chat-box-active{
    height: 30rem;
}
.chat-footer{
    bottom: 0;
    width: 100%;
    position: absolute;
    padding: 5px;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }
.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #034d7e none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  position: absolute;
  right: 6px;
  top: 6px;
  width: 40px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}

.slider {
    z-index: -1;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: -4rem;
    position: fixed;
}

.slide1,.slide2,.slide3 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    opacity: 0.5;
}

.slide1 {
    background: url(../img/bg/1.jpg)no-repeat center;
    background-size: cover;
    animation:fade 12s infinite;
    -webkit-animation:fade 12s infinite;
} 
.slide2 {
    background: url(../img/bg/2.jpg)no-repeat center;
    background-size: cover;
    animation:fade2 12s infinite;
    -webkit-animation:fade2 12s infinite;
}

.slide3 {
    background: url(../img/bg/3.jpg)no-repeat center;
    background-size: cover;
    animation:fade3 12s infinite;
    -webkit-animation:fade3 12s infinite;
}

@keyframes fade
{
    0% {opacity:1}
    3% {opacity:1}
    33.333% { opacity: 0}
    66.666% { opacity: 0}
    97% {opacity:1}
    100% { opacity: 1}
}

@keyframes fade2
{
    0% {opacity:0}
    33.333% { opacity: 1}
    36.333% { opacity: 1}
    66.666% { opacity: 0 }
    100% { opacity: 0}
}

@keyframes fade3
{
    0% {opacity:0}
    33.333% { opacity: 0}
    66.666% { opacity: 1}
    69.666% { opacity: 1}
    100% { opacity: 0}
}

/***********************
 * Essential Structure *
 ***********************/
 .flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 80%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 25px 0 200px; /* Padding for other horizontal elements */
}

.flexsearch--input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 0 46px 0 10px;
    border-color: #034d7e;
    border-radius: 35px; /* (height/2) + border-width */
    border-style: solid;
    border-width: 1px;
    margin-top: 15px;
    color: #333;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #fff;
    background-color: #034d7e;
}
	
.flexsearch--submit {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    margin-top: 17px; /* margin-top + border-width */
    margin-right: 15px; /* border-width */
    background: transparent;
    color: #034d7e;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}

.flexsearch--input::placeholder{
    color: #fff;
}

.flexsearch--input:focus {
    outline: none;
    border-color: #0162a3;
    background-color: #0162a3;
    color: #fff;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #0162a3;
}

.flexsearch--submit:hover {
    cursor: pointer;
}

::-webkit-input-placeholder {
	color: #0162a3;
}

input:-moz-placeholder {
  color: #0162a3;
}