/* CSS */
body{
    font-family: 'Prompt', sans-serif;
}
.bd-navbar{
    position: fixed;
    z-index: 1;
    height: 5rem;
    top: 0;
    left:0;
    background-color: #fff;
    width: 100%;
}
.stb_color{
    color: #034d7e;
}
.fa-smile-wink, .fa-angle-up, .fa-angle-down, .fa-arrow-alt-circle-right{
    font-size: 30px;
    vertical-align: middle;
}
.logo{
    right: 1rem;
    top: 0;
    position: absolute;
}
.logo img{
    height: 5rem;
}
.banner{
    right: 12rem;
    top: -.5rem;
    position: absolute;
}
.banner img{
    height: 5rem;
}
.bar{
    left: 0;
    top: 0;
    width: 100%;
    height: .5rem;
    position: absolute;
    background-color: #034d7e;
}
.menu-bar{
    left: 0;
    top: .5rem;
    width: 100%;
    height: 3rem;
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu-bar a .active, .menu-item:hover{
    top: 0;
    height: 4.5rem;
    line-height: 4.5rem;
}
.menu-item{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    color: #fff;
    font-size: 18px;
}
.menu-item-1{
    width: 15%;
    left: 0;
    background-color: rgb(44,154,189);
}
.menu-item-2{
    width: 14%;
    left: 15%;
    background-color: rgb(99,191,204);
}
.menu-item-3{
    width: 13%;
    left: 29%;
    background-color: rgb(38,165,136);
}
.menu-item-4{
    width: 12%;
    left: 42%;
    background-color: rgb(108,172,85);
}
.menu-item-5{
    width: 11%;
    left: 54%;
    background-color: rgb(155,193,80);
}
.menu-item-home{
    width: 10%;
    left: 65%;
    background-color: red;
}
.card-text{
    margin-top: -10px;
    font-size: 20px !important;
}
.box:hover{
    transform: translateY(-.5rem);
}
.btn_stb:hover{
    text-decoration: none;
}
.box{
    width: 16rem;
    height: 16rem;
    margin: 1rem;
    color: white;
    transition: .4s;
}
.box-img{
    width: 11rem;
    height: 11rem;
    margin: 1rem 2.5rem 0rem 2.5rem;
}

.box-1{
    background-color: rgba(44,154,189, 0.9);
    border-bottom: 1rem solid rgba(7,102,134, 0.9);
}
.box-2{
    background-color: rgba(99,191,204, 0.9);
    border-bottom: 1rem solid rgba(53,139,152, 0.9);
}
.box-3{
    background-color: rgba(38,165,136, 0.9);
    border-bottom: 1rem solid rgba(0,113,87, 0.9);
}
.box-4{
    background-color: rgba(108,172,85, 0.9);
    border-bottom: 1rem solid rgba(66,118,43, 0.9);
}
.box-5{
    background-color: rgba(155,193,80,0.9);
    border-bottom: 1rem solid rgba(104,139,37,0.9);
}

.index-content{
    position: absolute;
    bottom: .5rem;
}
.content-body{
    top: 6rem;
    position: absolute;
}
.search-box{
    margin-top: -1rem;
    margin-bottom: .5rem;
}

.card-title span{
    font-size: 28px;
}
.detail-link{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.detail-link:hover{
    text-decoration: none;
}

.map-area{
    position: absolute;
    width: 101%;
    left: -1%;
}
.map{
    margin-top: .5rem;
    padding: 0;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    /* border: 1px solid #034d7e; */
}


/* --------------- */
.chat-btn{
    position: fixed;
    right: 2rem;
    bottom: .25rem;
    width: 25rem;
    height: 3rem;
    background-color: #034d7e;
    border-radius: 10px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: .5s;
    border:none;
    padding: 0;
	font: inherit;
    cursor: pointer;
    outline: none;
}
.chat-btn:focus{
    outline: none;
}
.chat-btn-active{
    bottom: 30rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
}
.chat-btn-active .chat-welcome span{
    line-height: 5rem;
}
.chat-btn-active .chat-welcome i{
    line-height: 5rem;
}
.chat-btn-active .chat-welcome .fa-smile-wink{
    font-size: 40px;
}
.chat-welcome {
    text-align: center;
}
.chat-welcome span {
    color: #fff;
    line-height: 3rem;
}
.chat-welcome i {
    color: #fff;
    padding: 0 .5rem;
    line-height: 3rem;
}
.chat-box{
    position: fixed;
    bottom: .25rem;
    right: 2rem;
    width: 25rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 10px;
    transition-timing-function: ease-in;
    transition: .5s;
    padding: 10px;
}
.chat-box-active{
    border-radius: 0 0 10px 10px;
    padding-bottom: 4rem;
    height: 30rem;
}
.popup-area{
    width: 100%;
    height: calc(100% - 4.5rem);
    left: 0;
    overflow-y: scroll;
    position: absolute;
    margin-bottom: 6rem;
}
.chat-popup-area{
    position: absolute;
    bottom: 5px;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    max-height: 100%;
    height: auto;
}
.chat-footer{
    bottom: 0;
    width: 100%;
    left: 0;
    position: absolute;
    padding: 5px 10px;
}

textarea:focus ,input:focus{
    outline: none;
}
.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    margin-top: 5px;
    padding: 0 5px;
    width: calc(100% - 95px);
    border: 1px solid #c4c4c4;
    border-radius: 10px;
}
.input_msg_write textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 17px;
    margin-top: 5px;
    padding: 5px;
    min-height: 48px;
    
    resize: none;
    overflow: auto;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
}
.input_msg_write input::placeholder {
    color: #034d7e;
}
.input_msg_write textarea::placeholder {
    color: #034d7e;
}
.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
    background: #034d7e none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 40px;
}
.pic_send_btn {
    background: #034d7e none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    position: absolute;
    right: 50px;
    top: 6px;
    width: 40px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
    height: 516px;
    overflow-y: auto;
}

.chat-popup{
    list-style: none;
    margin: 0;
    padding: 0 10px;
}
  
.chat-popup li{
    display:inline-block;
    clear: both;
    padding: 5px 20px;
    border-radius: 30px;
    margin-bottom: 4px;
}

.date{
    float: left;
    text-align: center;
    width: 100%;
}
  
.him{
    background: #eee;
    float: left;
}
  
.me{
    float: right;
    background: #034d7e;
    color: #fff;
}
  
.him + .me{
    border-bottom-right-radius: 5px;
}
  
.me + .me{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
  
.me:last-of-type {
    border-bottom-right-radius: 30px;
}
/* --------------- */


.slider {
    z-index: -1;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: -4rem;
    position: fixed;
}

.slide1,.slide2,.slide3 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    opacity: 0.5;
}

.slide1 {
    background: url(../img/bg/1.jpg)no-repeat center;
    background-size: cover;
    animation:fade 12s infinite;
    -webkit-animation:fade 12s infinite;
} 
.slide2 {
    background: url(../img/bg/2.jpg)no-repeat center;
    background-size: cover;
    animation:fade2 12s infinite;
    -webkit-animation:fade2 12s infinite;
}

@keyframes fade
{
    0% {opacity:1}
    50% {opacity:0}
    100% { opacity: 1}
}

@keyframes fade2
{
    0% {opacity:0}
    50% {opacity:1}
    100% { opacity: 0}
}

@keyframes fade3
{
    0% {opacity:0}
    33.333% { opacity: 0}
    66.666% { opacity: 1}
    69.666% { opacity: 1}
    100% { opacity: 0}
}

/***********************
 * Essential Structure *
 ***********************/
 .flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 80%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
    width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 25px 0 200px; /* Padding for other horizontal elements */
}

.flexsearch--input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 0 46px 0 10px;
    border-color: #034d7e;
    border-radius: 10px; /* (height/2) + border-width */
    border-style: solid;
    border-width: 1px;
    margin-top: 15px;
    color: #333;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #fff;
    background-color: #034d7e;
}
	
.flexsearch--submit {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    margin-top: 17px; /* margin-top + border-width */
    margin-right: 15px; /* border-width */
    background: transparent;
    color: #034d7e;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}

.flexsearch--input::placeholder{
    color: #fff;
}

.flexsearch--input:focus {
    outline: none;
    border-color: #0162a3;
    background-color: #0162a3;
    color: #fff;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #0162a3;
}

.flexsearch--submit:hover {
    cursor: pointer;
}

::-webkit-input-placeholder {
	color: #0162a3;
}

input:-moz-placeholder {
  color: #0162a3;
}